[submodule "Joint-Part-of-Speech-Embeddings"]
	path = Joint-Part-of-Speech-Embeddings
	url = git@github.com:mwray/Joint-Part-of-Speech-Embeddings.git
[submodule "MI-MM"]
	path = MI-MM
	url = https://github.com/adrianofragomeni/MI-MM.git
